[Unit]
Description=Puma Server
After=network.target

[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/local/bin/puma
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure

[Install]
WantedBy=default.target
